@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AS_Kol_1.Models.Author;

<form asp-route="add" method="post">
	<p>
		<label asp-for="FirstName">FirstName:</label>
		<input asp-for="FirstName" />
	</p>

	<p>
		<label asp-for="LastName">LastName:</label>
		<input asp-for="LastName" />
	</p>

	<p>
		<button type="submit">Dodaj autora</button>
	</p>
</form>
